@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
    background-image: url(images/image.png);
    background-repeat: no-repeat, repeat;
	background-attachment: fixed;
    background-color: #C7D3D4FF;
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
	margin: 0;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

@media (max-width: 768px) { /*breakpoint*/
	.container {
	  grid-template-columns: none;
	}
  }

/* Password Generator */
.container1 {
	background-color: #603F83FF;
	box-shadow: 15px 20px 10px rgb(150, 150, 150);
	padding: 20px;
	width: 350px;
	max-width: 100%;
    border-radius: 1rem;
	font-family: inherit;
	margin: 0 auto;

}

.result-container1 {
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-radius: 4px;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container1 #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container1 .btn {
	position: absolute;
	font-size: 20px;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;	
	font-family: inherit;
	font-size: 16px;
	padding: 8px 12px;
	background-color: rgb(65, 30, 100);
	border-radius: 4px;
}

.btn-large {
	display: block;
	width: 100%;
	border-radius: 4px;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

input[type="range"] {
	width: 120px;
  }

input[type=checkbox] {
	margin-right: 0;
}

/* Password Evaluator */

/* .container2 {
	background-color: #603F83FF;
	box-shadow: 15px 20px 10px rgb(150, 150, 150);
	padding: 20px;
	width: 350px;
	max-width: 100%;
    border-radius: 1rem;
	font-family: inherit;
	margin: 0 auto;
}

.insert-container2 {
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-radius: 4px;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.insert-container2 .btn {
	position: absolute;
	font-size: 20px;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
} */

/* !!!!!!!!!! New commit starts here!!!!!!!!!! */

.container2 {
	background-color: #603F83FF;
	box-shadow: 15px 20px 10px rgb(150, 150, 150);
	padding: 20px;
	width: 350px;
	max-width: 100%;
    border-radius: 1rem;
	font-family: inherit;
	margin: 0 auto;
}

.form-control {
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-family: inherit;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.requirement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.btn2 {
	border: none;
	color: #fff;	
	font-family: inherit;
	font-size: 16px;
	padding: 8px 12px;
	background-color: rgb(65, 30, 100);
	border-radius: 4px;
}

.btn2-result {
	display: block;
	width: 100%;
	/* height: 35px; */
	border-radius: 4px;
	position: sticky;
	text-align: center;

}

.result {
	border-radius: 1rem;
	font-family: inherit;
	/* background-color: red; */
	text-align: center;
	font-size: 16px;



}




/* !!!!!!!!!! New commit ends here!!!!!!!!!! */

/* Footer */

/* .floating-text {
	background-color: rgb(131, 63, 63);
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-size: 16px;
	font-family: inherit;
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #ffffff;
	text-decoration: none; */
